.footer{
    margin: 40px auto 10px auto;
    text-align: center;
}
.footer a:hover {
    background: #0a1318;
  }
.footer svg{
    width: 22px; 
}
.logos{
    display: flex;
    justify-content: center;
}
.logo{
    padding:5px 10px ;
}
h2{
    color: rgb(25, 25, 85);
padding:10px ;
}