
#my_hobbies{
padding: 2em 10em 2em 10em;
}

h1{
    font-size: 36px;
    color: rgb(25, 25, 85);
    text-align: center;
}
#my_hobbies p{
    font-size: 19px;
    text-align: justify;
    line-height: 27px;
    color: rgb(45, 30, 120);
margin: 10px;
}
#my_hobbies h2{
    font-size: 34px;
    text-align: center;
    color: rgb(61, 29, 10);
}
.chess_skill{
    /* border-style: dashed; */
    height: 90vh;
   
    display: flex;
    justify-content: stretch;
}
.playing_chess{
    /* border-style: dotted; */
    width: 33.3%;
    height: 100%;
}
.training_chess{
    /* border-style: dotted; */
    width: 33.3%;
    height: 100%;
}
.referee_chess{
    /* border-style: dotted; */
    width: 33.3%;
    height: 100%;
}
.chess_skill img{
    width: 75%;
    height: 40%;
    /* padding: 20px; */
    margin: 0 12%;
}
.chess_skill h3{
   text-align: center;
   font-size: 24px;
    padding: 10px;
    color: rgb(25, 25, 85);
    
}
.chess_skill img {
    --g: 4px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: #c8ab0a; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  .chess_skill img:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }

