.navbar{  
  position: sticky;
  bottom: 0;
  right: 0;
top: 0;
background: rgb(230,165,75);
height: 70px;
width: 100%;
display: flex;
justify-content: space-between;

}
.souhaib{
    font-size: 18px;
    margin: 27px 0 25px 100px;
}
.navbar ul {

    float: right;
    margin-right: 60px;
    padding-right: 100px;
  }
  
.navbar ul li {
    font-size: 14px;
    display: inline-block;
    line-height: 80px;
    margin: 0 22px;
    
    
  }
  
.navbar ul li a {
    /* font-family: monospace; */
    font-weight: bold;
    /* font-weight: 500; */
    /* padding: 0 3px; */
    border-radius: 3px;
    text-transform: capitalize;
    color: #4653bb;
  }
/* animation for the links navbar*/
  .navbar ul li a {
    background-image: linear-gradient(
      to right,
      #436dea,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  .navbar ul li a:hover {
   background-position: 0;
  }
  
  .navbar ul li  a:hover::before{
    width: 100%;
  }
/* .dark_mode {
  border-style: dashed;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 100px;
} */
/* input [type="checkbox"]
{
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.check{
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
} */







